<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ChatRoom</title>
  <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"/>
  <script th:src="@{/webjars/sockjs-client/dist/sockjs.min.js}"></script>
  <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
  <style>
    .container {
      max-width: 350px;
    }

    .chat-container {
      height:500px;
      max-height: 500px;
      overflow-y: auto;
    }
  </style>
</head>
<body>
<div class="container">
  <h1 th:attr="room-id=${privateChatRoomResponseDto.roomId}"></h1>
  <div class="container-md chat-container">
    <h3>채팅 내역</h3>
    <ul id="chat-list" class="list-group">
    </ul>
  </div>
  <div class="container-md">
    <div class="row">
      <div class="col-9">
        <input id="message" class="container-lg" type="text" placeholder="메시지를 입력하세요.">
      </div>
      <div class="col-3">
        <button id="send" class="btn btn-sm btn-primary">보내기</button>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
  function connect() {
    var roomId = document.querySelector('h1[room-id]').getAttribute('room-id');
    var message = document.getElementById('message');
    var chatBox = document.getElementById('chat-list');
    var sendBtn = document.getElementById('send');

    console.log(roomId);

    var sock = new SockJS("/kakao-chat");
    var client = Stomp.over(sock);

    client.connect({}, function() {
      client.subscribe('/sub/chat/private-room/' + roomId, function (chat) {
        console.log(chat);
        var body = JSON.parse(chat.body);
        var newMessage = document.createElement('li');
        newMessage.className = 'list-group-item';
        newMessage.textContent = body.message;
        chatBox.appendChild(newMessage);
      });
    });

    sendBtn.addEventListener('click', (function (){
      var msg = message.value;
      client.send('/app/chat/private-message', {}, JSON.stringify({
        roomId: roomId,
        sender: "",
        message: msg
      }));
      message.value = '';
    }));
  }

  connect();
</script>
</body>
</html>